In [7]:
# from oxtapus import TGJU

# tgju = TGJU()
# tgju.usd_irr()
# ons = tgju.ons()
# ons.write_csv('./ons.csv', separator=",")
# rob = tgju.rob_sekke()
# rob.write_csv('./rob.csv', separator=",")

shape: (3_915, 6)
┌────────────┬────────────┬──────────┬──────────┬──────────┬──────────┐
│ date       ┆ jdate      ┆ open     ┆ high     ┆ low      ┆ close    │
│ ---        ┆ ---        ┆ ---      ┆ ---      ┆ ---      ┆ ---      │
│ date       ┆ str        ┆ f64      ┆ f64      ┆ f64      ┆ f64      │
╞════════════╪════════════╪══════════╪══════════╪══════════╪══════════╡
│ 2024-05-25 ┆ 1403-03-05 ┆ 0.0      ┆ 0.0      ┆ 0.0      ┆ 0.0      │
│ 2024-05-14 ┆ 1403-02-25 ┆ 594850.0 ┆ 595600.0 ┆ 594800.0 ┆ 595000.0 │
│ 2024-04-06 ┆ 1403-01-18 ┆ 647000.0 ┆ 647000.0 ┆ 647000.0 ┆ 647000.0 │
│ 2024-04-04 ┆ 1403-01-16 ┆ 635620.0 ┆ 644100.0 ┆ 635500.0 ┆ 641000.0 │
│ 2024-04-03 ┆ 1403-01-15 ┆ 627730.0 ┆ 634750.0 ┆ 627500.0 ┆ 634740.0 │
│ …          ┆ …          ┆ …        ┆ …        ┆ …        ┆ …        │
│ 2011-11-30 ┆ 1390-09-09 ┆ 13500.0  ┆ 13500.0  ┆ 13500.0  ┆ 13500.0  │
│ 2011-11-29 ┆ 1390-09-08 ┆ 13400.0  ┆ 13400.0  ┆ 13400.0  ┆ 13400.0  │
│ 2011-11-28 ┆ 1390-09-07 ┆ 13350.0  ┆ 13350.0  ┆ 13350.0  ┆ 13350.0  │
│ 2011-11-27 ┆ 1390-09-06 ┆ 13440.0  ┆ 13440.0  ┆ 13440.0  ┆ 13440.0  │
│ 2011-11-26 ┆ 1390-09-05 ┆ 13700.0  ┆ 13700.0  ┆ 13700.0  ┆ 13700.0  │
└────────────┴────────────┴──────────┴──────────┴──────────┴──────────┘

In [27]:
import numpy as np

numbers = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
# print(numbers.shape)
# print(numbers)
# print(numbers[-5:-3])

numbers = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]])
# print(numbers.shape)
# print(numbers)
print(numbers[0:2])

[[1 2]
 [3 4]]

In [63]:
import pandas as pd
import pyarrow as pa

data = {
    'date': ['2020-01-01 10:10:00', '2020-01-01 10:15:00', '2020-01-01 10:20:00'],
    'o': [32.1, 33.5, 41.12],
    'h': [38.2, 39.1, 46.5],
    'l': [29.5, 31.25, 40.45],
    'c': [33.1, 41.12, 46.5],
    'v': [1232.3, 2516.1, 1980.5],
}

df = pd.DataFrame(data=data, columns=['date', 'o', 'h', 'l', 'c'])
# df['date'] = df['date'].astype('date64[ms]')
df['date'] = pd.to_datetime(df['date'])
df.set_index(keys='date', inplace=True)

df["2020-01-01 10:09:00":"2020-01-01 10:15:00"]

                        o     h      l      c
date
2020-01-01 10:10:00  32.1  38.2  29.50  33.10
2020-01-01 10:15:00  33.5  39.1  31.25  41.12